/* App Logo */
.applogo {
  cursor: pointer;
  text-align: center;
  padding: 20px 0;
  color: black;
}

.applogo-img {
  max-height: 64px;
}

.applogo-header {
  font-family: "Monofett", serif;
  font-size: 48px;
}

.applogo h1 {
  margin: 0;
  font-weight: 700;
}
.applogo span {
  color: #808080;
}
