.starranking {
  display: flex;
  gap: 3px;

  align-items: center;
  justify-content: center;
  padding: 10px 2.5px 10px 2.5px;
}

.starranking-icon {
  font-size: 18px;
  &.filled {
    color: #ffb82a;
  }
  &.empty {
    color: #b9bed1;
  }
}
