/* Import the Nunito font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #f8f8f8;
  color: #2f2f31;
}

a {
  text-decoration: none;
  color: #66BAED;
  transition-duration: 0.2s;
}

a:hover {
  transition-duration: 0.2s;
  color: #7086ea;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  padding: 0;
  margin: 0;
}

.view {
  padding: 20px;
  padding-top: 0px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}

/* StarRanking */
.star-ranking {
  display: flex;
  gap: 4px;
  justify-content: center;
  margin-top: 10px;
}

.star-ranking .icon {
  font-size: 24px;
}

/* Responsive */
@media (max-width: 600px) {
  .puzzle-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .view {
    padding: 10px;
  }
}

footer {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: small;
}
